@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  @apply text-zinc-800;
  background-color: #fefefe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text {
  @apply text-zinc-800;
}

.accent {
  @apply bg-zinc-600;
}

.accent:hover, .accent:focus {
  @apply bg-zinc-700;
}

.accent-input {
  @apply border-zinc-300 focus:border-zinc-500 focus:ring-zinc-500 focus:outline-none;
}

.background {
  @apply bg-zinc-800;
}

.link {
  @apply text-blue-600 hover:text-blue-800;
  cursor: pointer;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

input:disabled, textarea:disabled, select:disabled {
  @apply bg-zinc-100 cursor-not-allowed;
}